[project]
name = "{{ module_name }}"
version = "0.1.0"
description = "{{ project_intent }}"
readme = "README.md"
authors = [
    { name = "M. Verbeek", email = "mark.verbeek91@gmail.com" }
]
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "pre-commit>=4.2.0",
    "ruff>=0.11.11",
    "mypy>=1.15.0",
    "pytest>=8.3.5",
    "pytest-cov>=6.1.1",
]

[project.scripts]
{{ project_name }} = "{{ module_name }}:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.commitizen]
version = "0.1.0"
version_files = [
    "src/{{ module_name }}/__init__.py",
    "pyproject.toml:version",
]

[tool.hatch.build.targets.wheel]
packages = ["src/{{ module_name }}"]

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra --cov={{ module_name }} --cov-report=term-missing --import-mode=importlib -m 'not slow and not component'"
testpaths = [
    "tests",
]
markers = [
    "slow: mark test as slow test",
    "component: mark test as component test",
]

[tool.mypy]
disallow_untyped_defs = true
show_error_codes = true
no_implicit_optional = true
warn_return_any = true
warn_unused_ignores = true
explicit_package_bases = true
mypy_path = [
    "src",
]
exclude = [
    "tests",
    "sandbox",
]